<section>
  <div class='container mt-5 pt-5' >
    <div class='row' >
      <div class='col-12 col-sm-8 col-md-6 m-auto'>
        <div class='card border-0 shadow' >
          <div class='card-body'>
            <%= form_with model: @article do |form| %>
              <div>
                <%= form.label :title %><br>
                <%= form.text_field :title, class: "form-control my-3 py-2" %>
                <% @article.errors.full_messages_for(:title).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>

              <div>
                <%= form.label :body %><br>
                <%= form.text_field :body, class: "form-control my-3 py-2" %><br>
                <% @article.errors.full_messages_for(:body).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>

              <div>
                <%= form.submit %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>